@layout MenuLayout

<HeadContent>
    <link href="css/@(Menu.Theme.ToString().ToLower()).css" rel="stylesheet" />
</HeadContent>
@* style="--primary-color:@Menu.PrimaryColor;--secondary-color:@Menu.SecondaryColor;--custom-font-family:@Menu.FontFamily;" *@
<div class="menu">

    @foreach (var category in DisplayCategories)
    {
        <div class="category">
            <h2>@category.Name</h2>
            <ul class="menu-items">
                @if (category.MenuItems is not null && category.MenuItems.Any())
                {
                    @foreach (var item in category.MenuItems.OrderBy(mi => mi.Name))
                    {
                        <li class="menu-item">
                            <div class="item-title">
                                @item.Name
                            </div>
                            <div class="item-price">
                                @item.Price.ToString("C")
                            </div>
                            <div class="item-body">
                                <p>@item.Description</p>
                                @if (!string.IsNullOrEmpty(item.Allergens))
                                {
                                    <div class="allergens">Allergene: @item.Allergens</div>
                                }
                            </div>
                        </li>
                    }
                }
                else
                {
                    <li class="no-items">No menu items available.</li>
                }
            </ul>
        </div>
    }
</div>

@code {
    [Parameter] public Menu Menu { get; set; } = new();

    private IEnumerable<Category> DisplayCategories =>
    Menu.Categories != null && Menu.Categories.Any()
        ? Menu.Categories.OrderBy(c => c.Name) : [];

}
